@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.rctUploader{
  .uploadbin{
    border: 2px dashed #ccc;
    padding: 60px;
  }
  .highlight {
    border-color: red;
  }
  .droptext{
    text-align: center;
  }
  .submitBtn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    background: salmon;
  }
  .loading{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    background: beige;
  }
  .reset{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    background: red;
  }
}
