@import '../../../../../../node_modules/@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore';

.minselect{
  .restricted_div{
    //position: absolute;
    //visibility: inherit;
    //border: 0px;
    top: 33px;
    background-color: transparent;
    //left: 401px;
    direction: ltr;
    //min-width: 134px;
    max-width: 135px;
    width: auto;
    height: 29px;
  }
  .hidden{
    display: none;
  }
  .revealed {
    position: fixed;
    background-color: yellowgreen;
    max-width: 200px;
    max-height: 200px;
    white-space: nowrap;
    overflow: auto;
  }
  .spandiv{
    white-space: nowrap;
  }
  .selected{
    background-color: lightblue;
  }
  .isValid{
    border-width: 3px;
    border-color: green;
  }
  .notValid{
    border-width: 3px;
    border-color: red;
  }
}

